<h2 class="text-center">Tender progress / process</h2>
<nz-row [nzGutter]="[16, 16]" nzAlign="middle">
  <nz-col nzSpan="6">
    <button nz-button nzType="primary">Add virtual participants</button>
  </nz-col>
  <nz-col nzSpan="18">
    Virtual participant allows you and colleagues to enter historical quotes as on behalf of a participant that enables
    fine-grained analysis along with quotes and simulation provided by invited participants
  </nz-col>
  <nz-col nzSpan="6">
    <button nz-button nzType="primary">Start new round</button>
  </nz-col>
  <nz-col nzSpan="18"></nz-col>
  <nz-col nzSpan="18">
    Set submitted <br>
    Informs whether rates have been submitted to the customer and defines respective status on tender search page
  </nz-col>
  <nz-col nzSpan="6">
    <nz-switch></nz-switch>
  </nz-col>
</nz-row>
