<p>start-page works!</p>

<nz-row [nzGutter]="[24, 24]">
  <nz-col nzSpan="12">
    <nz-card>
      <h3>Notification center</h3>
      <div>
        <nz-card class="swot-item" nzSize="small">
          <p nz-typography nzEllipsis>{{'text'}}</p>
        </nz-card>
      </div>
    </nz-card>
  </nz-col>
  <nz-col nzSpan="12">
    <nz-card>
      <h3>Notification center</h3>
      <div>
        <nz-card class="swot-item" nzSize="small">
          <p nz-typography nzEllipsis>{{'text'}}</p>
        </nz-card>
      </div>
    </nz-card>
  </nz-col>
</nz-row>
<nz-row [nzGutter]="[24, 24]">
  <nz-col nzSpan="12">
    <nz-card>
      <h3>Notification center</h3>
      <div>
        <nz-card class="swot-item" nzSize="small">
          <p nz-typography nzEllipsis>{{'text'}}</p>
        </nz-card>
      </div>
    </nz-card>
  </nz-col>
  <nz-col nzSpan="12">
    <nz-card>
      <h3>Notification center</h3>
      <div>
        <nz-card class="swot-item" nzSize="small">
          <p nz-typography nzEllipsis>{{'text'}}</p>
        </nz-card>
      </div>
    </nz-card>
  </nz-col>
</nz-row>
