<h2 class="text-center">Internal Q&A</h2>
<div style="max-width: 700px; margin: 0 auto">
  <p>You can reply to others' messages by first clicking on a message and then entering reply text.</p>
  <nz-card>
    <p class="text-center">No messages have been posted yet</p>
    <textarea nz-input nzAutosize></textarea>
    <div style="display:flex; justify-content: right; column-gap: 16px; margin-top: 12px">
      <button nz-button nzType="primary">Post</button>
      <button nz-button nzType="primary">Remove</button>
    </div>
  </nz-card>
  <h3>Q&A settings</h3>
  <span>Hover on options for more details on each</span>
</div>
